<div class="text-center">
  <a routerLink="/">
    <img src="../../../assets/img/NavbarIcon.png" class="mr-3" alt="...">
  </a>
</div>

<form [formGroup] ="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="text" class="form-control" id="exampleInputName" formControlName="name">      
    </div>
    <div class="form-group">
      <label for="exampleInputUsername">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername" formControlName="username">      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" formControlName="password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Repeat Password</label>
      <input type="password" class="form-control" id="exampleInputRepeatPassword" formControlName="repeatpassword">
      <small *ngIf="!formValid" id="passwordinvalid" style="color:red;" class="form-text">We'll never share your email with anyone else.</small>
    </div>
    <button *ngIf="!registerForm.invalid && formValid" type="submit" class="btn btn-primary">Create</button>
</form>