<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div id="BoxSearch">
                <div class="card">
                    <div class="card-body">                        
                        <div class="form-group">
                            <label for="SelectProvince">Province</label>
                            <select class="form-control" id="SelectProvince" (change) = "changeProvince($event.target.value)">
                                <option>--- Select Province ---</option>
                                <option [value]="province" *ngFor='let province of provinceList'>{{province}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SelectCity">City</label>
                            <select class="form-control" id="SelectCity" (change) = "changeCity($event.target.value)" >
                                <option> --- Select City --- </option>
                                <option *ngFor='let city of cityList'>{{city}}</option>
                            </select>
                        </div>                        
                        
                        <button class="btn btn-primary">search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <button class="btn btn-success float-right" routerLink="/createclub">New Club</button>
            <div id="BoxClubs">   
                <div class="row">
                    <div class="card" class="col-md-4 col-sm-12" *ngFor="let club of clubList" >
                        <img src="../../../assets/img/Club1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{club.name}}</h5> 
                          <p class="card-text"><strong>Ubication:</strong> {{club.city}} - {{club.province}}</p>                              
                          <p class="card-text"><strong>Address:</strong> {{club.ubication}}</p> 
                          <a routerLink="/clubs/{{club.id}}" class="btn btn-primary">Details</a>                                
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>