<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="clubDetails != null">
    <button class="btn btn-success float-right" routerLink="/clubs">Return list</button>    
    <h1>Edit Club</h1>
  
    <form [formGroup] ="clubForm">
    <div class="row">
        <div class="col-md-6 col-sm-12" >
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="nametxt">Name: </label>
                    <input type="text" class="form-control" id="nametxt" [ngModel] ="clubDetails.name" formControlName="name">
                </div>
            </div>           
            <div class="row col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="provincetxt">Province: </label>
                        <input type="text" class="form-control" id="provincetxt" [ngModel] ="clubDetails.province" formControlName="province">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="citytxt">City: </label>
                        <input type="text" class="form-control" id="citytxt" [ngModel] ="clubDetails.city" formControlName="city">
                    </div>
                </div>  
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="nametxt">Number Courts: </label>
                        <input type="number" class="form-control" id="numberCourtxt" [ngModel] ="clubDetails.numberCourts" formControlName="numberCourts">
                    </div>
                </div>  
            </div>   
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Ubication</h2>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="searchtxt" [ngModel] = "clubDetails.ubication" formControlName="ubication">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">search</button>
                </div>                            
            </div>      
            <br> 
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <app-map></app-map>                            
                </div>              
            </div>                         
        </div>        
    </div>
</form>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="text-center">
                <button class="btn btn-primary" (click) = "submitForm()" >Create</button>
            </div>            
        </div>
    </div>
  </div>