<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="groupDetails != null">
    <button class="btn btn-success float-right" routerLink="/groups">Return list</button>
    <h1>Edit Group</h1>

    <div class="row">
        <form class="col-md-6 col-sm-12" [formGroup] ="groupForm" >
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="nametxt">Name: </label>
                    <input [ngModel] ="groupDetails.name" formControlName="name" type="text" class="form-control" id="nametxt" >
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="descriptiontxt">Description: </label>
                    <textarea [ngModel] ="groupDetails.description" class="form-control" id="descriptiontxt" rows="3" formControlName="description"></textarea>
                    </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="provincetxt">Province: </label>
                    <input [ngModel] ="groupDetails.province" type="text" class="form-control" id="provincetxt" formControlName="province">
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="citytxt">City: </label>
                    <input [ngModel] ="groupDetails.city" type="text" class="form-control" id="citytxt" formControlName="city">
                </div>
            </div>  
        </form>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div id="BoxListPlayers" style="margin-bottom: 3%;">
                        <h2>List Players</h2>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="SelectCity">Player</label>
                                <select class="form-control" id="SelectPlayer" (change) = "changedPlayer($event)" >
                                    <option value=""> --- Select Player --- </option>
                                    <option [value]="player.id" *ngFor='let player of playerList'>{{player.name}}</option>
                                </select>
                            </div>   
                            <div class="col-md-4 col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" (change) = "changedAdmin($event.target.checked)" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1" >Admin</label>
                                  </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <button type="submit" class="btn btn-primary" (click) = "addPlayer()" >Add</button>
                            </div>       
                        </div>   
                        <br>                  
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let user of groupDetails.userGroupList">
                                        {{user.nameUser}} 
                                        <span class="badge badge-primary" *ngIf="user.admin">Admin</span> 
                                        <span class="badge badge-success" *ngIf="user.property">Property</span>
                                        - <button (click)="removePlayerList(user.userId, user.nameUser)">delete</button>
                                    </li>                                    
                                </ul>                   
                            </div>                            
                        </div>                        
                    </div>  
                </div>               
            </div>            
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="text-center">
                <button class="btn btn-primary" (click) = "submitGroup()" >Create</button>
            </div>            
        </div>
    </div>
</div>
