<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="list-group" style="margin-bottom: 2%;">
                <a [class.active]="isShowNextMatches" class="list-group-item list-group-item-action" (click) = "showNextMatches()">Next Matches</a>
                <a [class.active]="isshowNextMatchesGroups" class="list-group-item list-group-item-action" (click) = "showNextMatchesGroups()">Next matches of your groups</a>
                <a [class.active]="isshowNextPublicMatches" class="list-group-item list-group-item-action" (click) = "showNextPublicMatches()">Upcoming Public Matches</a>                
            </div>

            <div id="BoxSearch">
                <div class="card">
                    <div class="card-body">                        
                        <div class="form-group">
                            <label for="SelectProvince">Province</label>
                            <select class="form-control" id="SelectProvince" (change) = "changeProvince($event.target.value)">
                                <option>--- Select Province ---</option>
                                <option [value]="province" *ngFor='let province of provinceList'>{{province}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SelectCity">City</label>
                            <select class="form-control" id="SelectCity" (change) = "changeCity($event.target.value)" >
                                <option> --- Select City --- </option>
                                <option *ngFor='let city of cityList'>{{city}}</option>
                            </select>
                        </div>  
                        <!--
                        <div class="form-group">
                            <ngb-datepicker #dp [ngModel] = "model"  (navigate)="date = $event.next"></ngb-datepicker>                    
                            <hr/>

                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

                            <hr/>
                        </div>
                    -->
                        <button class="btn btn-primary">search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">                            
            <button class="btn btn-success float-right" routerLink="/createreservation">New reservation</button>                
            
            <div id="BoxNextMatches" *ngIf="isShowNextMatches">   
                <div class="row">
                  <div class="card" class="col-md-4 col-sm-12" *ngFor="let reservation of reservationsUserList" >
                    <img src="../../../assets/img/Club1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{reservation.nameClub}}</h5>
                      <p class="card-text">{{reservation.date}}</p>
                      <p class="card-text">Num Jug: {{reservation.numJug}}</p>           
                      <p class="card-text">Price: {{reservation.amount}} €  </p>
                      <a routerLink="/reservations/{{reservation.id}}" class="btn btn-primary">Details</a>                                
                    </div>
                </div>                      
                </div>
            </div>
            <div id="BoxNextMatchesGroups" *ngIf="isshowNextMatchesGroups">
                <div class="row">
                  <div class="card" class="col-md-4 col-sm-12" *ngFor="let reservation of reservationsGroupList" >
                    <img src="../../../assets/img/Club1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{reservation.nameClub}}</h5>
                        <p class="card-text">{{reservation.date}}</p>
                        <p class="card-text">Num Jug: {{reservation.numJug}}</p>           
                        <p class="card-text">Price: {{reservation.amount}} €  </p>
                      <a routerLink="/reservations/{{reservation.id}}" class="btn btn-primary">Details</a>                                
                    </div>
                </div>      
                </div> 
            </div>
            <div id="BoxNextPublicMatches" *ngIf="isshowNextPublicMatches">
                <div class="row">
                  <div class="card" class="col-md-4 col-sm-12" *ngFor="let reservation of reservationsPublicList" >
                    <img src="../../../assets/img/Club1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{reservation.nameClub}}</h5>
                        <p class="card-text">{{reservation.date}}</p>
                        <p class="card-text">Num Jug: {{reservation.numJug}}</p>           
                        <p class="card-text">Price: {{reservation.amount}} €  </p>
                      <a routerLink="/reservations/{{reservation.id}}" class="btn btn-primary">Details</a>                                
                    </div>
                </div>        
                </div>    
            </div>
            
            <div class="row" style="margin-bottom: 2%;">
                <button class="btn btn-success">Location in Map</button>                
            </div>            

            <div id="BoxShowinMap">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.6727272370804!2d-3.8053340481767677!3d40.46037997925882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4186f29f98effd%3A0xb8cf4af6ca31cbc7!2sMad4padel!5e0!3m2!1ses!2ses!4v1595319312476!5m2!1ses!2ses" allowfullscreen></iframe>                                        
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
