<app-navbar></app-navbar>

<div class="text-center" *ngIf="showSpinner" >
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>                
</div>  

<div class="container-fluid" *ngIf="clubDetails != null">
    <button class="btn btn-success float-right" routerLink="/clubs">Return list</button>
    <button class="btn btn-success float-right" routerLink="/clubs/edit/{{clubDetails.id}}" style="margin-right: 2%;">Edit</button>
    <h1>Details Club</h1>
  
    <div class="row">          
        <div class="alert alert-danger" role="alert" *ngIf="showAlert" (click)="hideAlert()" >
            {{messageAlert}}
        </div>  
        
        <div class="col-md-6 col-sm-12">
            <div class="col-md-12 col-sm-12">
                <p><strong>Name:</strong> {{clubDetails.name}}</p>
            </div>
            <div class="row col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-12">
                    <p><strong>Province:</strong> {{clubDetails.province}}</p>
                </div> 
                <div class="col-md-6 col-sm-12">
                    <p><strong>City:</strong> {{clubDetails.city}}</p>
                </div>                 
            </div> 
            <div class="col-md-12 col-sm-12">
                <p><strong>Address:</strong> {{clubDetails.ubication}}</p>
            </div>    
            <div class="col-md-12 col-sm-12">
                <p><strong>Number Courts:</strong> {{clubDetails.numberCourts}}</p>
            </div>         
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12" style="height: 500px;">
                    <app-map [latitude] ="clubDetails.latitude" [longitude] = "clubDetails.longitude"></app-map>          
                </div>              
            </div>                         
        </div>        
    </div>
  </div>
