<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2%;">
    <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/img/NavbarIcon.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        PadelFriends
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservations">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/clubs">Clubs</a>
          </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) = "logout()">Logout</button>
    </div>
  </nav>